# Non-secret CareerOPS HH scheduler settings.
CAREEROPS_HH_RESUME_ID=d3911fbaff0fc21fe80039ed1f4943416d494c
CAREEROPS_HH_PROFILE=careerops-ml
CAREEROPS_HH_TIMEZONE=Europe/Moscow
CAREEROPS_HH_DAILY_CAP=150
CAREEROPS_HH_MIN_RUNS=7
CAREEROPS_HH_MAX_RUNS=8
CAREEROPS_HH_MAX_PER_RUN=25
CAREEROPS_HH_MIN_PER_RUN=14
CAREEROPS_HH_WINDOW_START=08:30
CAREEROPS_HH_WINDOW_END=23:00
CAREEROPS_HH_MIN_GAP_MINUTES=80
CAREEROPS_HH_LATE_GRACE_MINUTES=75
CAREEROPS_HH_AREA=1
CAREEROPS_HH_PERIOD=14
CAREEROPS_HH_PAGES=3
CAREEROPS_HH_PER_PAGE=100
CAREEROPS_HH_STATE_DIR=/var/lib/careerops/hh
CAREEROPS_ROOT=/srv/careerops/app
