# shellcheck disable=all
PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin
SHELL=/bin/bash

# При старте системы/контейнера
@reboot /bin/bash /app/startup.sh >> /var/log/cron.log 2>&1

# Подъем резюме. Applicant submission принадлежит CareerOPS Application Owner.
0 */5 * * * /bin/bash -c 'sleep $((60 + RANDOM \% 241))' && /usr/local/bin/python -m hh_applicant_tool update-resumes >> /var/log/cron.log 2>&1

# Токен обновляется автоматически при запросах, но оставляем отдельное поддержание сессии.
*/1 * * * * /usr/local/bin/python -m hh_applicant_tool refresh-token
